@font-face {
    font-family: 'Jost';
    src: url('./Jost-Regular.woff2') format('woff2'),
         url('./Jost-Regular.woff') format('woff'),
         url('./Jost-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-SemiBold.woff2') format('woff2'),
         url('./Jost-SemiBold.woff') format('woff'),
         url('./Jost-SemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-Bold.woff2') format('woff2'),
         url('./Jost-Bold.woff') format('woff'),
         url('./Jost-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'rouble';
	src: url('../fonts/rouble/rouble-webfont.eot');
	src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rouble/rouble-webfont.woff') format('woff'),
		 url('../fonts/rouble/rouble-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}